body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

.info h2 {
  color: #7E86D6;
  font-weight: 100;
  font-size: 2.5rem;
}

.info p {
  color: #d67e82;
  font-weight: 100;
  font-size: 1.125rem;
  list-style: 2;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #7E86D6;
}

#mainNavbar .navbar-brand {
  color: #7E86D6;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #7E86D6;

}

#headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
}

.content {
  margin-bottom: 100px;
}

.navbar.scrolled {
  background: #dc9d94;
  transition:  background 800ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
  font-size: 2.5rem;
  }
}
